
<!DOCTYPE html>

<html>
<head>
    <script src="/Scripts/loading.js"></script>
    <!--CSS start-->
    <link href="/Scripts/jquery-easyui/themes/metro/easyui.css" rel="stylesheet" />
    <link href="/Scripts/jquery-easyui/themes/icon.css" rel="stylesheet" />
    <link href="/Scripts/jquery-easyui/themes/color.css" rel="stylesheet" />
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <!--CSS end-->
    <!--Scripts start-->
    <script src="/Scripts/jquery/jquery-1.11.3.min.js"></script>
    <script src="/Scripts/jquery-easyui/jquery.easyui.min.js"></script>
    <script src="/assets/scroll/jquery.nicescroll.js"></script>
    <script src="/Scripts/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="/Scripts/global.js"></script>
    <!--Scripts end-->
    <title>管理后台--默认页面</title>
</head>
<body style="background-color:white;">
    <div id="main-content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">控制台</h3><ul class="breadcrumb">
                        <li><a href="/Home/Default"><i class="fa fa-home"></i>&nbsp;首页</a><span class="divider">/</span></li>
                        <li class="active">控制台</li>
                    </ul>
                </div>
            </div>
            @*<div id="page">
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN BLANK PAGE PORTLET-->
                        <div class="widget">
                            <div class="widget-title">
                                <h4><a href="javascript:;" class="fa fa-envelope"><span>Contact Us</span></a></h4>
                                <span class="tools">
                                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                                    <a href="javascript:;" class="fa fa-remove"></a>
                                </span>
                            </div>
                            <div class="widget-body">
                                <div class="contact-us">
                                    <h3>Our Contacts</h3>
                                    <div class="space15"></div>
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <div class="widget red">
                                                <div class="widget-title">
                                                    <h4>Location</h4>
                                                </div>
                                                <div class="widget-body">
                                                    <p>
                                                        Jonathon Smith <br>
                                                        House 31, Road 12, Sector 4<br>
                                                        Dream Town,  Dreamland 1230<br>
                                                        Phone: +966 1 000000<br>
                                                        Fax : 1234 5678 909
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <div class="widget green">
                                                <div class="widget-title">
                                                    <h4>Online</h4>
                                                </div>
                                                <div class="widget-body">
                                                    <p>
                                                        <strong>Email :</strong> info@vectorlab.com <br>
                                                        <strong>Support :</strong> support@vectorlab.com<br>
                                                        <strong>Live Chat :</strong> live@vectorlab.com<br>
                                                        <strong>Skype :</strong> skype@vectorlab.com<br>
                                                        <strong>Fax :</strong> 1234 5678 909
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <div class="widget orange">
                                                <div class="widget-title">
                                                    <h4>Social Network</h4>
                                                </div>
                                                <div class="widget-body">
                                                    <p>
                                                        <strong>Facebook :</strong> www.facebook.com/vectorlab1<br>
                                                        <strong>Twitter :</strong> www.twitter.com/vectorlab1<br>
                                                        <strong>Google + :</strong> www.googleplus.com/vectorlab1<br>
                                                    </p>
                                                    <div class="space15"></div>
                                                    <div class="space15"></div>
                                                    <div class="space10"></div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="space20"></div>
                                    <div class="row-fluid">
                                        <div class="feedback">
                                            <h3>Feedback</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                                            <div class="space20"></div>

                                            <form class="form-inline ">
                                                <div class="control-group">
                                                    <input type="text" placeholder="Name" class="span12">
                                                </div>
                                                <div class="control-group ">
                                                    <input type="text" placeholder="Email" class="span6 one-half">
                                                    <input type="text" placeholder="Phone" class="span6">
                                                </div>
                                                <div class="control-group">
                                                    <textarea placeholder="Message" class="span12" rows="5"></textarea>
                                                </div>
                                                <div class="text-center">
                                                    <button class="btn btn-success " type="submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END BLANK PAGE PORTLET-->
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</body>
</html>
