@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>未找到页面。</title>
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body class="error-404">
    <div class="error-wrap error-wrap-404">
        <div class="metro big terques">
            <span> OOPS! </span>
        </div>
        <div class="metro green">
            <span> 4 </span>
        </div>
        <div class="metro yellow">
            <span> 0 </span>
        </div>
        <div class="metro purple">
            <span> 4 </span>
        </div>
        <div class="metro double red">
            <span class="page-txt"> Page Not Found </span>
        </div>
        <div class="metro gray">
            <a href="/" target="_top" class="home"><i class="fa fa-home"></i> </a>
        </div>

    </div>
</body>
</html>
