@model Intelligent.Community.Web.Models.UnknownModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>异常捕获。</title>
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body class="error-500">
    <div class="error-wrap">
        <h1>Ouch!</h1>
        <h2>Looks like something went wrong</h2>
        <div class="metro green">
            <span> 5 </span>
        </div>
        <div class="metro yellow">
            <span> 0 </span>
        </div>
        <div class="metro purple">
            <span> 0 </span>
        </div>
        <p>For updates follow us on <a href="mailto:Saylor.Chung@outlook.com">mail</a> , Very soon we will fix the issue. <a href="/" target="_top"> Return Home </a></p>
    </div>
</body>
</html>
